@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    int x = 1;
}


<table class="table table-hover table-bordered ">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Distance</th>
            <th scope="col">Duration</th>
            <th scope="col">Height Difference </th>
            <th scope="col">Available </th>
            <th scope="col">Created by</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var hike in Model) // Model est un mot clé
        {

        <tr>
            <td>@x</td>
            <td>@hike.Name TEST</td>
            <td>@hike.Difficulty</td>
            <td>@hike.Distance km</td>
            <td>@hike.Duration.ToString(@"hh\hmm")</td>
            <td>@hike.Height_difference m</td>
            <td>@hike.Available</td>
            <td>@hike.UserName</td>
            <td><a class="btn btn-primary" asp-controller="Hike" asp-action="Edit" asp-route-id="@hike.Id">Edit</a></td>
            @if (@UserManager.GetUserName(User) == @hike.UserName || User.IsInRole("Admin"))
            {
                <td><a class="btn btn-danger" asp-controller="Hike" asp-action="Delete" asp-route-id="@hike.Id">Delete</a></td>
            }

        </tr>
            x++;
        }
    </tbody>
</table>
